# Bỏ qua dependencies cục bộ (sẽ được cài đặt bên trong container)
node_modules

# Bỏ qua file biến môi trường (sẽ được cung cấp khi chạy container)
.env

# Bỏ qua các file log và file của HĐH
npm-debug.log
.DS_Store

# Bỏ qua build artifacts
frontend/dist/
frontend/.vite/
.venv
backend/uploads/*
!backend/uploads/.gitkeep
